{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="description" content="mangostanPOS APP">
    <meta name="author" content="Emanuel Zuniga Infante">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Punto de venta</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "layout/css/normalize.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "layout/slidebars/dist/slidebars.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
    {% block extrahead %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome-4.3.0/css/font-awesome.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "layout/css/index.css" %}" />
</head>
<body>

<nav canvas="">
    <div>
        <div class="float-left" style="margin-left: 40px">
            <span class="button js-toggle-main-menu"><i class="fa fa-bars"></i> <span class="text">Menu</span></span>
        </div>

        <div class="float-right" style="margin-right:40px" >
            <span class="button js-toggle-help-menu "><i class="fa fa-life-ring"></i> <span class="text">Help Center</span></span>
        </div>

        <a href="/slidebars/"><img id="logo" src="/slidebars/images/slidebars-logo.png" alt="Slidebars"></a>
    </div>
</nav>


<div canvas="container">

    <div class="col-xs-12" style="padding: 0">

            {% block breadcrumbs %}
                <div class="breadcrumbs col-xs-12">
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
                </div>
            {% endblock %}

            {% block messages %}
            {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
            {% endif %}
            {% endblock messages %}
            <div id="page-content-wrapper col-xs-12">
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h3 class="page_title">{{ title }}</h3>{% endif %}{% endblock %}
                {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear" />
            </div>
            </div>
	</div>
</div>

<div off-canvas="main-menu left overlay">
	<img id="logo-menu" src="/slidebars/images/slidebars-logo-white.png" alt="Slidebars">

	<ul class="menu small">
		<li><a href="/"><span class="fa fa-home"></span> Inicio</a></li>
		<li><a href="/admin/"><span class="fa fa-area-chart"></span> Administración</a></li>
		<li><a href="/admin/"><span class="fa fa-cloud-download"></span> Downloads</a></li>
		<li><a href="#" class="js-toggle-demos-menu"><span class="fa fa-eye"></span> Demos</a></li>
		<li><a href="#" class="js-toggle-help-menu"><span class="fa fa-life-ring"></span> Help Center</a></li>
		<li><a href="/slidebars/compatibility/"><span class="fa fa-info-circle"></span> Compatibility</a></li>
		<li><a href="https://github.com/adchsm/Slidebars" class="ga-external-github"><span class="fa fa-github"></span> Slidebars on GitHub</a></li>
		<li><a href="#" class="js-toggle-author-menu"><span class="fa fa-user"></span> About the Author</a></li>
		<li><a href="#" class="js-close-any"><span class="fa fa-times-circle"></span> Close</a></li>
	</ul>
</div>

<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'layout/slidebars/dist/slidebars.min.js' %}"></script>
<script src="{% static 'layout/js/controller.js' %}"></script>

</body>
</html>