<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li class="active">
            <a href="/admin/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>Inicio </a>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span> Administración<span class="fa fa-angle-down allign-right"></span></a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="/admin/activities/activity/"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-calendar fa-stack-1x "></i></span>Actividades</a></li>
                <li><a href="/admin/clients/client/"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-user fa-stack-1x "></i></span>Clientes</a></li>
                <li><a href="/admin/products/product/"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-tag fa-stack-1x "></i></span>Productos</a></li>
                <li><a href="/admin/products/productdepartment/"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-tag fa-stack-1x "></i></span>Familias</a></li>
                <li><a href="/admin/products/productsubdepartment/"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-tag fa-stack-1x "></i></span>Sub-Familias</a></li>
                <li><a href="/admin/suppliers/supplier/"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-truck fa-stack-1x "></i></span>Proveedores</a></li>
                <li><a href="/admin/projects/project/"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-building fa-stack-1x "></i></span>Proyectos</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-send fa-stack-1x "></i></span> Ordenes<span
                    class="fa fa-angle-down allign-right"></span></a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="/admin/orders/order/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-align-justify fa-stack-1x "></i>
                </span>Todas las Ordenes</a></li>
                <li class="new_order_li"><a href="/admin/orders/order/create/"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-plus fa-stack-1x "></i></span>Nueva Orden</a></li>
            </ul>


        </li>
        <li >
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-file-text fa-stack-1x "></i>
            </span> Facturas<span class="fa fa-angle-down allign-right"></span></a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="/admin/bills/bill/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-align-justify fa-stack-1x "></i></span>Todas las Facturas</a></li>
                <li class="new_bill_li"><a href="/admin/bills/bill/create/"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-plus fa-stack-1x "></i></span>Crear Factura</a></li>
            </ul>
        </li>
        <li >
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bar-chart fa-stack-1x "></i>
            </span> Reportes <span class="fa fa-angle-down allign-right"></span></a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-building
                fa-stack-1x "></i></span>Por proyecto</a></li>
                <li class="by_order_li"><a href="/admin/reports/byorder/"><span class="fa-stack fa-lg pull-left"><i
                class="fa fa-align-justify fa-stack-1x "></i></span>Por Orden de Compra</a></li>
            </ul>
        </li>

    </ul>
</div>
        <!-- /#sidebar-wrapper -->